{% extends "base.html" %}
{% load humanize %}


{% block title %}Carga Archivos{% endblock %}

{% block content %}

   <h2 class="text-center">Buscar Servicios</h2>



<form method="get">

    <div class="row mb-3 justify-content-center">

        <div class="col-md-2">
            <select name="mes" class="form-select" >
                <option value="">Todos los meses</option>
                {% for m in meses_disponibles %}
                    <option value="{{ m }}" {% if mes == m|stringformat:"s" %}selected{% endif %}>
                        {% if m == 1 %}Enero
                        {% elif m == 2 %}Febrero
                        {% elif m == 3 %}Marzo
                        {% elif m == 4 %}Abril
                        {% elif m == 5 %}Mayo
                        {% elif m == 6 %}Junio
                        {% elif m == 7 %}Julio
                        {% elif m == 8 %}Agosto
                        {% elif m == 9 %}Septiembre
                        {% elif m == 10 %}Octubre
                        {% elif m == 11 %}Noviembre
                        {% elif m == 12 %}Diciembre
                        {% else %}{{ m }}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <select name="anio" class="form-select" >
                <option value="">Todos los años</option>
                {% for a in anios_disponibles %}
                    <option value="{{ a }}" {% if anio == a|stringformat:"s" %}selected{% endif %}>
                        {{ a }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
            <select name="contratista_id" class="form-select" onchange="this.form.submit()">
                <option value="">Todos los contratistas</option>
                {% for c in contratistas %}
                    <option value="{{ c.id }}" {% if contratista_id == c.id|stringformat:"s" %}selected{% endif %}>
                        {{ c.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <select name="tipo_servicio" class="form-select" onchange="this.form.submit()">
                <option value="">Todos los servicios</option>
                <option value="PREVENTIV" {% if tipo_servicio == "PREVENTIV" %}selected{% endif %}>Preventivas</option>
                <option value="CORRECTIV" {% if tipo_servicio == "CORRECTIV" %}selected{% endif %}>Correctivas</option>
            </select>
        </div>

        <div class="col-md-3">
            <select name="provincia_estado" class="form-select" onchange="this.form.submit()">
                <option value="">Todas las provincias/estado</option>
                {% for p in provincia %}
                    <option value="{{ p }}" {% if p == provincia_estado_sel %}selected{% endif %}>
                        {{ p }}
                    </option>
                {% endfor %}
            </select>
        </div>

    </div>

    <div class="row mb-3 justify-content-center">

        <div class="col-md-3">
            <select name="tecnico" class="form-select" onchange="this.form.submit()">
                <option value="">Todos los técnicos</option>
                {% for t in tecnicos %}
                    <option value="{{ t }}" {% if tecnico_sel == t %}selected{% endif %}>
                        {{ t }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-5">
            <input
                class="form-control"
                type="text"
                name="q"
                placeholder="Buscar por contratista, número, técnico o cuenta contable"
                value="{{ query|default:'' }}"
            >
        </div>

    </div>

    <div class="row mb-4 justify-content-center">
        <div class="col-md-2">
            <button class="btn btn-primary w-100" type="submit">
                Buscar
            </button>
        </div>

        <div class="col-md-2">
            <a href="{% url 'buscador_servicios' %}" class="btn btn-warning w-100">
                Limpiar filtros
            </a>
        </div>
    </div>

</form>

<hr>

    <!-- TABLA -->
<div class="table-responsive">

    <table class="table table-bordered table-hover">

        <thead class="table-dark sticky-table-header">
            <tr>
                <th>Número</th>
                <th>Fecha Finalización</th>
                <th>Nombre Cuenta</th>
                <th>Provincia - Estado</th>
                <th>Tipo Servicio</th>
                <th>Servicio</th>
                <th class="col-observaciones">Observaciones</th>
                <th>Técnico</th>
                <th>Valor a pagar</th>
                <th>Cuenta Contable</th>
                <th>Incidencias Día</th>
                <th>Incidencias 60 Días</th>
            </tr>
        </thead>

        <tbody>

            {% for servicio in servicios %}
            <tr>

                <td>{{ servicio.numero }}</td>

                <td>{{ servicio.fecha_finalizacion|date:"d/m/Y H:i" }}</td>

                <td>{{ servicio.cuenta }}</td>

                <td>{{ servicio.provincia_estado }}</td>

                <td>{{ servicio.tipo_servicio }}</td>

                <td>{{ servicio.servicio }}</td>

                <td class="col-observaciones">
                    {{ servicio.observaciones }}
                </td>

                <td>{{ servicio.tecnico }}</td>

                <td>
                    $ {{ servicio.valor_pago_tecnico|default:0|floatformat:0|intcomma }}
                </td>

                <td>{{ servicio.cuenta_contable }}</td>

                <td>
                    {% if servicio.numero_incidencias_dia > 2 %}
                        <span class="badge bg-danger">{{ servicio.numero_incidencias_dia }}</span>
                    {% elif servicio.numero_incidencias_dia == 2 %}
                        <span class="badge bg-warning text-dark">{{ servicio.numero_incidencias_dia }}</span>
                    {% else %}
                        <span class="badge bg-success">{{ servicio.numero_incidencias_dia }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if servicio.numero_incidencias_60_dias > 2 %}
                        <span class="badge bg-danger">{{ servicio.numero_incidencias_60_dias }}</span>
                    {% elif servicio.numero_incidencias_60_dias == 2 %}
                        <span class="badge bg-warning text-dark">{{ servicio.numero_incidencias_60_dias }}</span>
                    {% else %}
                        <span class="badge bg-success">{{ servicio.numero_incidencias_60_dias }}</span>
                    {% endif %}
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="11" class="text-center">No hay resultados</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

    <button onclick="subirArriba()" id="btnSubir" title="Subir arriba">
    ↑
    </button>
    
{% endblock %}

